<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/footer3.css"> 
    <title>Pupuke Kahui Ako</title>
</head>
<body>
    <div id="page_container">
        <footer id="footer">
            <div id="footer_container">
                <div id="footer_logo">
                    <a href="#" class="logo">Pupuke Kahui Ako</a>
                </div>
                <nav id="footer_nav">
                    <a href="#">Home</a>
                    <a href="#">Pupuke</a>
                    <a href="#">Harbour</a>
                    <a href="#">About Us</a>
                </nav>
                <div id="footer_contact">
                    <p>Website: https://www.tekaahuiakoopupuke.co.nz/</p>
                    <p>Phone: (123) 456-7890</p>
                </div>
            </div>
        </footer>
</div>
</body>
</html>