<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/styles.css"> 
    <title>Pupuke Kahui Ako</title>
</head>
<body>
    <div id="page_container">
        <header class="header">
            <div class="logo_text"> <a href="#" class="logo"><img src="styles/kahui-ako-round-logo-2-3.jpg" alt="Pupuke Kahui Logo"><span> Pupuke Kahui Ako</span></a></div>
            <nav>
                <a href="#">Home</a>
                <a href="#">Pupuke</a>
                <a href="#">Harbour</a>
                <a href="#" class="about-us">ABOUT US</a>
            </nav>
        </header>
        <footer id="footer">
            <div id="footer_container">
                <div id="footer_logo">
                    <a href="#" class="logo">Pupuke Kahui Ako</a>
                </div>
                <nav id="footer_nav">
                    <a href="#">Home</a>
                    <a href="#">Pupuke</a>
                    <a href="#">Harbour</a>
                    <a href="#">ABOUT US</a>
                </nav>
                <div id="footer_contact">
                    <p>Website: https://www.tekaahuiakoopupuke.co.nz/</p>
                    <p>Phone: (123) 456-7890</p>
                </div>
            </div>
        </footer>
    </div>
</body>
</html>